.chat-message-robot {
  display: flex;
  align-items: start;
}
.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: start;
}
.chat-message-text {
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  max-width: 300px;
  margin-top: 0;
  margin-bottom: 0;
  overflow-wrap: break-word;
}
.profile-image {
  width: 45px;
}
.loading-spinner {
  margin: -15px;
  height: 40px;
}
