.send-button {
  background-color: rgb(25, 135, 84);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}
.chat-input {
  font-size: 15px;
  padding: 12px 15px;
  border-width: 1px;
  border-radius: 10px;
  margin-right: 10px;

  flex-grow: 1;
}
.chat-input-container {
  display: flex;
  margin-bottom: 60px;
}
.app-container {
  max-width: 600px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.chat-message-robot {
  display: flex;
  align-items: start;
}
.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: start;
}
.chat-message-text {
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  max-width: 300px;
  margin-top: 0;
  margin-bottom: 0;
  overflow-wrap: break-word;
}
.profile-image {
  width: 45px;
}
.chat-messages-container {
  flex-grow: 1;
  margin-top: 20px;
  overflow: scroll;
  scrollbar-width: none;
}
.welcome-msg {
  color: rgb(120, 120, 120);
  text-align: center;
}
.loading-spinner {
  margin: -15px;
  height: 40px;
}
