.app-container {
  max-width: 600px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.welcome-msg {
  color: rgb(120, 120, 120);
  text-align: center;
}
.loading-spinner {
  margin: -15px;
  height: 40px;
}
